// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

.create-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .insert-link {
    width: 100%;
  }
}

.data-table {
  margin-top: 120px;
}
