<template>
    <div>
        <div class="form-inline form-group">
            <input type="text" v-model="filter" placeholder="Type to Search" class="form-control">
            <button :disabled="!filter" @click="filter = ''" class="btn btn-dark ml-1">Clear</button>
        </div>

        <b-table id="gridview"
                 v-if="items"
                 :items="items"
                 :fields="fields"
                 :filter="filter"
                 :current-page="currentPage"
                 :per-page="perPage"
                 @filtered="onFiltered"
                 head-variant="dark"
                 stacked="sm" striped outlined hover>
        </b-table>

        <b-pagination v-if="totalRows && perPage < totalRows"
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      class="center-block"/>
    </div>
</template>

<script>
    export default {
        name: "GridView",
        props: {
            action: String,
            fields: Array
        },
        data: function() {
            return {
                items: [],
                totalRows: null,
                filter: null,
                currentPage: 1,
                perPage: 10
            }
        },
        mounted() {
            axios
                .get(this.action)
                .then(response => {
                    if (response) {
                        this.items = response.data;
                        this.totalRows = this.items.length;
                    }
                })
                .catch(error => console.log(error));
        },
        methods: {
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
        }
    }
</script>
